<h1>Search your flight here!</h1><br>

<%= form_with url: flights_path, method: :get do |f|%>

<div>
    <%= f.label :departure_airport, "Departure Airport" %>
    <%= f.select :departure_airport, options_for_select(@airports, params[:departure_airport]), include_blank: "Select an airport"%>
</div>

<div>
    <%= f.label :arrival_airport, "Arrival Airport" %>
    <%= f.select :arrival_airport, options_for_select(@airports, params[:arrival_airport]), include_blank: "Select an airport"%>
</div>

<div>
    <%= f.label :date, "Date" %>
    <%= f.select :date, options_for_select(@dates, params[:date]), include_blank: "Select a date"%>
</div>

<div>
    <%= f.label :num_passengers, "Number of Passengers" %>
    <%= f.select :num_passengers, options_for_select(@num_passengers, params[:num_passengers]), include_blank: "Select the number of Passengers" %>
</div>

 <%= f.submit "Search Flights" %>

<%end%>

<h2>Available Flights</h2>

<% if @flights.any? %>
  <%= form_with url: new_booking_path, method: :get do |f|%>
  <%= f.hidden_field :num_passengers, value: params[:num_passengers] %>
  <%= debug(params) if Rails.env.development? %>
  <table>
    <thead>
      <tr>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Departure Time</th>
        <th>Duration</th>
        <th>Select Flight</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= flight.departure_airport.name %></td>
          <td><%= flight.arrival_airport.name %></td>
          <td><%= flight.departure_time.strftime("%B %d, %Y %I:%M %p") %></td>
          <td><%= flight.duration_minutes %> minutes</td>
          <td><%= f.radio_button :flight_id, flight.id, required: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit "Make Booking"%>
  <%end%>
<% else %>
  <p>No flights found.</p>
<% end %>